

.body-container{
}

.heading{
	color: #fefefe;
	margin-top: 620px;
	margin-left: 95px;
	text-align: center;
	font-size: 70px;
	background-color: #000000;
	background-color: rgba(0,0,0,0.5);
}
.sub-heading{
	font-size: 40px;
}
.parallax { 
	background-image: url("http://i.imgur.com/CNeKLa2.jpg");
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.scroll{
	height: 1000px;
	background-color: #fefefe;
}