

.body-container{
	font-family: 'Jim Nightshade', cursive;
}

.heading{
	color: #fefefe;
	margin-top: 150px;
	margin-left: 95px;
	text-align: center;
	font-size: 100px;
	background-color: #000000;
	background-color: rgba(0,0,0,0.5);
}
.down-menu{
	margin-top: 220px;
	color: #fefefe;
	text-align: center;
	font-size: 30px;
	background-color: #000000;
	background-color: rgba(0,0,0,0.5);
}
.side-scroll{
	margin-top: 280px;
	color: #fefefe;
	text-align: center;
	font-size: 30px;
	background-color: #000000;
	background-color: rgba(0,0,0,0.2);
}
.sub-heading{
	font-size: 60px;
	margin-bottom: 160px;
	display: inline-block;
}
.parallax { 
	background-image: url("http://i.imgur.com/CNeKLa2.jpg");
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.scroll{
	height: 1000px;
	background-color: #fefefe;
	background-color: rgba(255,255,255,1);
}

.dwarves{
	width: 80%;
	font-size: 40px;
}

.icons{
	margin: 250px auto;
}
.king{
	font-size: 48px;
}
.aragorn{
	margin-top: 40px;
}
.paragraph{
	border-bottom: solid black 1px;
	font-size: 26px;
	margin-bottom: 50px;
}
.downdrop{
	display:inline-block;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
.linkDwarves{
	color: #000000;
	margin-top: 100px;
}
.linkAragorn{
	color: #000000;
}




